.main-template {
  margin: 70px 35px 0;
}

.main-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.heading__title {
  text-align: center;
}

.btn {
  align-self: flex-end;
  grid-column: 2;
  text-align: right;
}
