@font-face {
  font-family: "NotoSerif";
  src: url(/assets/tipografia/NotoSerif-Regular.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(/assets/tipografia/Nunito-Regular.ttf);
}

body {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1%;
  line-height: 17.6px;
}

h1 {
  font-family: "NotoSerif";
  font-size: 36px;
  font-weight: 700;
  line-height: 39.6px;
}

h2 {
  font-size: 24px;
  line-height: 26.4px;
}

.heading__title {
  align-items: center;
  display: flex;
  height: 40px;
  left: 159px;
  letter-spacing: 0.01em;
  line-height: 110%;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 410px;
}

.heading__subtitle {
  align-items: center;
  display: flex;
  height: 26px;
  left: 35px;
  letter-spacing: 0.01em;
  line-height: 110%;
  position: absolute;
  text-align: center;
  top: 133px;
  width: 101px;
}

.content__text {
  align-items: center;
  display: flex;
  height: 186px;
  left: 35px;
  letter-spacing: 0.01em;
  line-height: 110%;
  position: absolute;
  top: 180px;
  width: 233px;
}

.btn__start {
  align-items: center;
  color: black;
  display: flex;
  height: 18px;
  left: 341px;
  letter-spacing: 0.01em;
  line-height: 110%;
  position: absolute;
  text-align: center;
  top: 348px;
  width: 37px;
}
